apiVersion: v1
kind: PersistentVolume
metadata:
  name: local-pv1-{{ item }}
spec:
  capacity:
    storage: {{ hostvars[item].pv_size }}
  accessModes:
  - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  local:
    path: {{ hostvars[item].pv_path }}
  nodeAffinity:
    required:
      nodeSelectorTerms:
      - matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - {{ item }}